.content{
    width: 100%;
    background-color: #D9BEAB;
    overflow: hidden;
}
.contentBox{
    width: 80%;
    margin: auto;
}
.banner_con{
    width: 100%;
    background: url("../img/img1.png") no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner{
    width: 100%;
    background-color: rgba(217,190,171,0.5);
    padding: 15rem 0 15rem 0;
    border-bottom: 1px solid #B08E7F;
}
.banner_title{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: #72463E;
}
.payCon{
    width: 100%;
    padding: 8rem 0;
    border-bottom: 1px solid #72463E;
    border-top: 1px solid #72463E;
    margin-bottom: 8rem;
}
.payText{
    font-size: 1.8rem;
    margin: 2rem auto;
    text-align: center;
    color: #72463E;
}
.payBtn{
    width: 30rem;
    text-align: center;
    padding: 1rem 0;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 600;
    margin: 5rem auto;
    text-transform: uppercase;
    cursor: pointer;
    color: #72463E;
    background-color: #EBD6BB;
    box-shadow: 0px 5px 5px #A17C6F inset;
}
.payBtn>a{
    text-decoration: none;
    color: #72463E;
}